<div class="w-full h-full bg-white">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="akronim">
        <th mat-header-cell *matHeaderCellDef> Akronim </th>
        <td mat-cell *matCellDef="let element"> {{element["akronim"]}} </td>
      </ng-container>

      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef> Naziv </th>
        <td mat-cell *matCellDef="let element"> {{element["naziv"]}} </td>
      </ng-container>

      <ng-container matColumnDef="espb">
        <th mat-header-cell *matHeaderCellDef> ESPB </th>
        <td mat-cell *matCellDef="let element"> {{element["espb"]}} </td>
      </ng-container>

      <ng-container matColumnDef="konacniBodovi">
        <th mat-header-cell *matHeaderCellDef> Poeni </th>
        <td mat-cell *matCellDef="let element"> {{element["konacniBodovi"]}} </td>
      </ng-container>

      <ng-container matColumnDef="ocena">
        <th mat-header-cell *matHeaderCellDef> Ocena </th>
        <td mat-cell *matCellDef="let element"> {{element["ocena"]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="bg-gray-200 p-4 mt-4">
      <div class="flex justify-between font-bold">
        <span>Prosečna ocena: {{ averageGrade}}</span>
        <span>Zbir ESPB poena: {{ totalESPB }}</span>
      </div>
    </div>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator> -->
  </div>

</div>