<div class="text-black shadow-mn w-full pb-10">
    <div class="h-[25rem] w-full bg-cover bg-center first-image">
    </div>
    <div class="max-w-7xl mx-auto px-4 md:px-6 flex flex-col justify-center items-center">

        <div class="justify-center py-20 text-center w-3/5 ">
            <p class="text-3xl text-violet-950/75 pb-4" >O nama</p>

            <div class="pb-4 text-sm text-violet-950/75">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia metus a ipsum
                egestas, hendrerit molestie dui lacinia. Vestibulum dui felis, pulvinar non nisl vel, scelerisque congue
                magna. Vestibulum et sem tincidunt, sodales nisi eu, mollis dui. Pellentesque fringilla velit felis, id
                consectetur purus semper id. Integer tincidunt arcu quis risus mattis, quis facilisis libero interdum.
                Nam non risus blandit augue venenatis placerat vel sed lectus. I
            </div>
            <div class="text-sm"   id="istorijat">
                Sem n hac habitasse platea dictumst. Sed
                tempor, orci eget ullamcorper fringilla, augue lectus efficitur libero, sit amet pellentesque enim risus
                ut ante. In risus dui, egestas ac dolor nec, vestibulum tincidunt dolor. Pellentesque a nisi eu justo
                scelerisque ullamcorper. Maecenas ut lacus ipsum. Vivamus justo risus, varius ac velit sit amet,
                faucibus tempor massa. Sed commodo in turpis in malesuada.suscipit himenaeos vulputate eget condimentum finibus. Et
                nascetur fermentum sodales fermentum neque efficitur. Hac eleifend ex tincidunt ac enim ante.
            </div>
        </div>
        
        <div class="flex w-full justify-between">
            <div class="bg-[#46354e]/75 text-white grow-[2] p-10 rounded-3xl shadow-md">
                <p class="text-xl pb-4 pl-4 w-1/2" >Istorijat</p>
        
                <div class="pb-4 text-sm">
                    &emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia metus a ipsum
                    egestas, hendrerit molestie dui lacinia. Vestibulum dui felis, pulvinar non nisl vel, scelerisque congue
                    magna. Vestibulum et sem tincidunt, sodales nisi eu, mollis dumattis, quis facilisis libero interdum.
                    Nam non risus blandit augue venenatis placerat vel sed lectus. I
                </div>
                <div class="pb-4 text-sm">
                    &#9;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia metus a ipsum
                    egestas, hendrerit molestie dui lacinia. Vestibulum dui felis, pulvinar non nisl vel, scelerisque congue
                    magna. Vestibulum et sem tincidunt, sodales nisi eu, mollis dui. 
                </div>
                <div class="pb-4 text-sm">
                    &#9;Lorem ipsum dolor sit amet, consectetur adipiscing elit. I. Pellentesque fringilla velit felis, id
                    consectetur purus semper id. Integer tincidunt arcu quis risus mattis, quis facilisis libero interdum.
                    Nam non risus blandit augue venenatis placerat vel sed lectus. I
                </div>
                <div class="pb-4 text-sm">
                    &#9;Lorem ipsum dolor sit amet, consectetur adipiscing elit. I. Pellentesque fringilla velit felis, id
                    consectetur purus semper id. Integer tincidunt arcu quis risus mattis, quis facilisis libero interdum.
                    Nam non risus blandit augue venenatis placerat vel sed lectus. I
                </div>
            </div>
            <div class="shrink pl-[3rem]">
                <div class="bg-[#46354e]/25 p-10 rounded-3xl shadow-md">
                    <p class="text-xl text-violet-950/75 pl-4 pb-4">Misija i vizija</p>
            
                    <div class="pb-4 text-sm text-black/75">
                        &#9;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia metus a ipsum
                        egestas, hendrerit molestie dui lacinia. Vestibulum dui felis, pulvinar non nisl vel, scelerisque congue
                        magna. Vestibulum et sem tincidunt, sodales nisi eu, mollis dui. Pellentesque fringilla velit felis, id
                        consectetur purus semper id. Integer tincidunt arcu quis risus mattis, quis facilisis libero interdum.
                        Nam non risus blandit augue venenatis placerat vel sed lectus. I
                    </div>
                    
                </div>
                <div class="h-[15rem] bg-[#46354e]/25 rounded-3xl mt-4 second-image bg-cover bg-no-repeat bg-center">
                </div>
            </div>
        </div>
        <div class="w-full h-[20rem] mt-20 mb-[23rem] flex ">
            <div class="w-1/3 rounded-3xl border-solid border-violet-950/75 border-[1px] rektor">
            </div>
            <div class="pl-[3rem] w-3/5 p-10">
                <p class="text-xl text-violet-950/75 pl-4 pb-4">Informacije o rektoru</p>
                <div class="pb-4 text-sm text-black/75">

                    <div class="py-0.5">{{rektor?.korisnik?.ime}} {{rektor?.korisnik?.prezime}}</div>
                    <div class="py-0.5">Mejl adresa: {{rektor?.korisnik?.email}}</div>
                    <div class="py-0.5" *ngFor="let zvanje of rektor?.zvanja">Zvanje {{zvanje?.tipZvanja?.naziv}} iz oblasti: <p class="text-violet-950/75">{{zvanje?.naucnaOblast?.naziv}}</p></div>
                    <div class="mt-2">
                        {{rektor?.biografija}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>