<div class="flex justify-center">
    <div class="w-full max-w-4xl" *ngIf="realizacijaPredmeta && realizacijaPredmeta.predmet">
        <div class="text-center mb-4">
            <span class="text-lg font-semibold">Predmet: {{realizacijaPredmeta.predmet.naziv}}
                ({{realizacijaPredmeta.predmet.akronim}})</span>
        </div>

        <div>
            <mat-tab-group class="w-full">
                <mat-tab label="Osnovne informacije">
                    <div class="w-full max-w-3xl">
                        <div>ESPB: {{realizacijaPredmeta.predmet.espb}}</div>
                        <div>Obavezan: {{ realizacijaPredmeta.predmet.obavezan ? 'Da' : 'Ne' }}</div>
                    </div>
                </mat-tab>
                <mat-tab label="Cilj">
                    <div class="w-full max-w-3xl">
                        <div *ngFor="let ishod of realizacijaPredmeta.predmet.silabus">
                            <div *ngFor="let cilj of ishod.obrazovniCiljevi">{{ cilj.opis }}</div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Silabus">
                    <div class="w-full max-w-3xl">
                        <div *ngFor="let ishod of realizacijaPredmeta.predmet.silabus">{{ ishod.opis }}</div>
                    </div>
                </mat-tab>
                <mat-tab label="Nastavni materijal">
                    <div class="w-full max-w-3xl">
                        <!-- FIXME: nastavniMaterijali -->
                        <div *ngFor="let ishod of realizacijaPredmeta.predmet.silabus">
                            <table *ngIf="ishod.nastavniMaterijal && ishod.nastavniMaterijal.length > 0"
                                class="min-w-full border-collapse border border-gray-200">
                                <thead>
                                    <th class="border border-gray-300 px-4 py-2">Naziv</th>
                                    <th class="border border-gray-300 px-4 py-2">Autori</th>
                                    <th class="border border-gray-300 px-4 py-2">Godina Izdavanja</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let materijal of ishod.nastavniMaterijal">
                                        <td class="border border-gray-300 px-4 py-2">{{ materijal.naziv}}</td>
                                        <td class="border border-gray-300 px-4 py-2">{{ materijal.autori}}</td>
                                        <td class="border border-gray-300 px-4 py-2">{{ materijal.godinaIzdavanja }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Prijave ispita">
                    <app-prijave-ispita [realizacijaPredmeta]="realizacijaPredmeta"></app-prijave-ispita>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>