<app-header></app-header>

<div class="min-h-screen flex justify-center items-center bg-gray-100">
    <div class="w-full max-w-3xl mx-auto bg-white rounded-xl shadow-lg overflow-hidden p-6 space-y-6">
        <div class="uppercase tracking-wide text-lg text-violet-950/75 font-bold text-center mb-6">Opšti kontakt</div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab *ngFor="let adresa of univerzitet?.adrese" label="{{adresa.ulica}}">
                <div class="space-y-4">
                    <span class="font-bold text-base text-lg">{{univerzitet?.naziv}}</span>
                </div>
                <div class="mb-2">
                    <span>Adresa: </span>
                    <span class="font-semibold">{{adresa.ulica}} {{adresa.broj}},
                        {{adresa.mesto?.naziv}}</span>
                </div>
                <div *ngFor="let kontakt of univerzitet?.kontakti" class="mb-1">
                    <span>{{kontakt.tipKontakta?.naziv}}: </span>
                    <span class="font-semibold">{{kontakt.vrednost}}</span>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<app-footer></app-footer>