<div *ngIf="userProfile">
    <ng-container [ngSwitch]="userRole">
        <app-registrovani-korisnik *ngSwitchCase="'ROLE_USER'"
            [username]="userProfile.username ?? ''"></app-registrovani-korisnik>

        <app-student *ngSwitchCase="'ROLE_STUDENT'" [username]="userProfile.username ?? ''"></app-student>

        <app-nastavnik *ngSwitchCase="'ROLE_TEACHER'" [username]="userProfile.username ?? ''"></app-nastavnik>

        <app-studentska-sluzba *ngSwitchCase="'ROLE_STAFF'"
            [username]="userProfile.username ?? ''"></app-studentska-sluzba>

        <app-admin *ngSwitchCase="'ROLE_ADMIN'" [username]="userProfile.username ?? ''"></app-admin>
    </ng-container>
</div>