<div class="flex-1">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="akronim">
          <th mat-header-cell *matHeaderCellDef> Akronim </th>
          <td mat-cell *matCellDef="let element"> {{element["akronim"]}} </td>
        </ng-container>
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef> Naziv </th>
          <td mat-cell *matCellDef="let element"> {{element["naziv"]}} </td>
        </ng-container>
        <ng-container matColumnDef="espb">
          <th mat-header-cell *matHeaderCellDef> ESPB </th>
          <td mat-cell *matCellDef="let element"> {{element["espb"]}} </td>
        </ng-container>
        <ng-container matColumnDef="obavezan">
          <th mat-header-cell *matHeaderCellDef> Obavezan </th>
          <td mat-cell *matCellDef="let element"> {{element["obavezan"] == true ? "Da" : "Ne"}} </td>
        </ng-container>
        
  
        <ng-container matColumnDef="prijavaIspita">
          <th mat-header-cell *matHeaderCellDef> Prijava ispita </th>
          <td mat-cell *matCellDef="let element">
            <div class="w-full flex">
                <button class="bg-[#8f7a99] text-center text-white font-thin px-4 py-2 rounded-full font-bold hover:bg-purple-800 transition-colors duration-200 grow" (click)="openPopup(); setData(element)">
                    Prijavi
                </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    <br>
    <p class="text-lg font-semibold px-4">Prijavljeni ispiti</p>
    <div class="overflow-x-auto shadow-md rounded-lg">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-white-100">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ispitni rok</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Naziv predmeta</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Akronim</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ESPB</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <ng-container *ngFor="let prijava of prijaveIspita">
            <tr *ngIf="isKrajRokaValid(prijava)">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ prijava.ispitniRok?.naziv }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ prijava.realizacijaPredmeta?.predmet?.naziv }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ prijava.realizacijaPredmeta?.predmet?.akronim }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ prijava.realizacijaPredmeta?.predmet?.espb }}</td>
            </tr>
          </ng-container>
        </tbody>
        
      </table>
    </div>
  
  </div>