<header class="bg-neutral-700 text-white shadow-md w-full sticky top-0 ">
    <div class="max-w-7xl mx-auto px-4 md:px-6 py-4 flex flex-col md:flex-row justify-between items-center">

        <div class="text-center md:text-left mb-4 md:mb-0">
            <a routerLink="/" class="hover:underline font-bold text-6xl tracking-wide">Univerzitet AOP</a>
        </div>

        <nav class="flex flex-wrap justify-center md:justify-start space-x-4">
            <a routerLink="/"
                class="hover:bg-white hover:text-neutral-700 transition-colors duration-200 px-3 py-1 rounded">Početna</a>
            <a routerLink="/fakulteti"
                class="hover:bg-white hover:text-neutral-700 transition-colors duration-200 px-3 py-1 rounded">Fakulteti</a>
            <a href="#istorijat"
                class="hover:bg-white hover:text-neutral-700 transition-colors duration-200 px-3 py-1 rounded">Istorijat</a>
            <a routerLink="/kontakti"
                class="hover:bg-white hover:text-neutral-700 transition-colors duration-200 px-3 py-1 rounded">Kontakt</a>
            <a routerLink="/zaposleni"
                class="hover:bg-white hover:text-neutral-700 transition-colors duration-200 px-3 py-1 rounded">Zaposleni</a>
        </nav>

        <div class="mt-4 md:mt-0">
            <a routerLink="/e-student"
                class="bg-[#8f7a99] text-white px-4 py-2 rounded-full font-bold hover:bg-purple-800 transition-colors duration-200">E-
                student</a>
        </div>
    </div>
</header>