<app-header></app-header>


<div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="space-y-6 text-center bg-white p-8 rounded-lg shadow-lg w-full max-w-5xl mx-auto">
        <h1 class="text-4xl font-bold text-gray-800">Fakulteti</h1>
        <h2 class="text-3xl font-semibold text-gray-600">AOP Univerziteta</h2>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="w-full max-w-3xl mx-auto bg-gray-50 p-6 rounded-lg shadow-md">
            <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding class="border-b border-gray-300 hover:bg-gray-100 transition duration-300 ease-in-out rounded-md p-4 last:border-b-0">
                <button mat-icon-button disabled class="text-gray-400 hover:text-gray-600">
                    <mat-icon>info</mat-icon>
                </button>
                {{node.name}}
                <button mat-button color="primary" *ngIf="isStudijskiProgramNode(node)" (click)="onNodeButtonClick(node.id, $event)" class="bg-blue-500 text-white hover:bg-blue-600 transition duration-300 ease-in-out ml-2">
                    Predmeti
                </button>
                
                <div *ngIf="selectedProgramId === node.id && studijskiProgram && showDetails" class="mt-4 bg-gray-100 p-8 max-w-5xl mx-auto rounded-lg">
                    <button mat-button color="warn" (click)="toggleDetails()" class="bg-red-500 text-white hover:bg-red-600 transition duration-300 ease-in-out mb-4">
                        Nazad
                    </button>
                    <ul class="list-disc pl-6">
                        <li *ngFor="let godina of studijskiProgram.godineStudija" class="mb-4">
                            <h4 class="font-semibold text-gray-800">Godina : {{godina.godina}}</h4>
                            <ul class="list-decimal pl-6">
                                <li *ngFor="let predmet of godina.predmeti; index as i" class="text-gray-700">
                                    {{predmet.naziv}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding class="border-b border-gray-300 hover:bg-gray-100 transition duration-300 ease-in-out rounded-md p-4 last:border-b-0">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" class="text-gray-600 hover:text-gray-800">
                    <mat-icon>
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                {{node.name}}
            </mat-tree-node>
        </mat-tree>
    </div>
</div>

<app-footer></app-footer>