<mat-sidenav-container class="h-screen bg-white">
    <mat-sidenav mode="side" opened class="w-64 bg-white">
        <div class="p-4">
            <div class="w-full p-2 rounded-lg border-solid border-violet-950/25 border-[1px] shadow-md">
                <div class="bg-gray-700 w-full py-3 px-3 text-white">
                    <div class="text-xs text-white/75">AOP</div>
                    <div>
                        <b *ngIf="hasKorisnik(user)">
                            {{ user.korisnik?.ime }} {{ user.korisnik?.prezime }}
                        </b>
                        <b *ngIf="!hasKorisnik(user)">
                            {{ user?.korisnickoIme }}
                            <span> ({{user?.email}})</span>
                        </b>
                        <span *ngIf="id">({{id}})</span>
                    </div>
                </div>

                <!-- Linkovi -->
                <div class="w-full border-solid border-violet-950/25 border-y-[1px]">
                    <div *ngFor="let item of items">
                        <ng-container *ngIf="item !== '-'">
                            <div class="px-4 py-3 hover:bg-gray-800 hover:text-white">
                                <a [routerLink]="item.link">{{item.text}}</a>
                                <p *ngIf="item.opis" class="text-sm text-gray-500">{{item.opis}}</p>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item === '-'">
                            <hr class="my-2 border-gray-600">
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="p-4 bg-white">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>